// Colors
$primary-color: #0ace99;            //Green
$primary-color-dark: #09b889;       //Dark green
$primary-color-clear: #1FD5A4;      //Light green
$secondary-color: #9d01e6;          //Purple
$secondary-color-dark: #8800C8;     //Dark purple
$secondary-color-light: #DA9BFD;     //light purple
$third-color: #4B0DBD;              //Dark violet
$dark-grey: #282828;                //Dark grey
$middle-grey: #7d7d7d;              //Middle grey
$light-grey: #D6D6D6;               //Light grey
$super-light-grey: #f8f8f8;         //Super light grey
$primary-admin-color: #223756;      //Dark blue
$secondary-admin-color: #354A6B;    //Light blue
$delete-color: #E13C00;             //Red
$delete-color-dark: #CC3600;        //Dark Red
$blue: #019CDE;                     //Blue

$marketing: #F8E71C;
$marketing-dark: #F1E21D;
$design: #F617F6;
$design-dark: #D811D8;
$business: #3B6FF3;
$business-dark: #2D5FDD;
$coding: #FE004A;
$coding-dark: #E80346;
$branding: #E56E25;
$branding-dark: #DE651A;



// Trasparencies
$primary-color-transparent: rgba(10, 207, 153, 0.7);    // Green transparent
$dark-color-transparent: rgba(0, 0, 0, 0.5);            // Black transparent
$dark-color-transparent-7: rgba(0, 0, 0, 0.7);            // Black transparent
$light-color-transparent: rgba(255, 255, 255, 0.5);     // White transparent

// Shadows
$primary-shadow: 0 0 20px 3px rgba(0,0,0,0.25);
$secondary-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
$tertiary-shadow: 0 0 7px 0 rgba(0,0,0,0.25);
$hover-shadow: 0 0 20px 0 rgba(0,0,0,0.25);


// Border radius
$primary-border-radius: 7px;
$secondary-border-radius: 3px;


// Typography
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
$primary-font: 'Open Sans', sans-serif;

$main-line-height: 1.5rem;

// Animations
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);


//bootstrap overrides
$font-size-base: 15px;
$headings-line-height: $main-line-height;

$container-max-widths: (
  sm: unset,
  md: unset,
  lg: 960px,
  xl: 1140px
) !default;

$container-tablet:	unset;


//checkbox
$md-checkbox-margin: 16px 0;
$md-checkbox-checked-color: $primary-color;
$md-checkbox-border-color: rgba(0, 0, 0, 0.3);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-checkbox-size: 18px;
$md-checkbox-padding: 4px;

$md-checkmark-width: 2px;
$md-checkmark-color: #fff;



//background colors

$themes: (

  classic: (
    color1 : linear-gradient($primary-color, $primary-color-dark 10%, #ddf5ef 38%, #eaf9f3 48%, #f5fdfb 62%),
    color2 : linear-gradient(100grad, rgba(0, 204, 82, 0), rgba(0, 204, 176, 0.05) 40%, rgba(0, 204, 148, 0.35)),
    color3 : linear-gradient(100grad, rgba(0, 204, 138, 0) 10%, rgba(0, 204, 119, 0.05)),
    picture: url('/assets/course.jpg')
  ),

  marketing: (
    color1 : linear-gradient(#F8E71C, #dccc06 10%, #e2da3a 38%, #f9f7ea 48%, #fdfcf5 62%),
    color2 : linear-gradient(100grad, rgba(204, 201, 0, 0), rgba(204, 184, 0, 0.05) 40%, rgba(204, 201, 0, 0.35)),
    color3 : linear-gradient(100grad, rgba(201, 204, 0, 0) 10%, rgba(184, 204, 0, 0.05)),
    picture: url('/assets/area-marketing.jpg')
  ),

  coding: (
    color1 : linear-gradient($coding, $coding-dark 10%, #f5dddd 38%, #f9eaea 48%, #fdf5f5 62%),
    color2 : linear-gradient(100grad, rgba(204, 0, 61, 0), rgba(204, 0, 112, 0.05) 40%, rgba(204, 0, 102, 0.35)),
    color3 : linear-gradient(100grad, rgba(204, 0, 51, 0) 10%, rgba(204, 0, 51, 0.05)),
    picture: url('/assets/area-coding.jpg')
  ),

  business: (
    color1 : linear-gradient($business, $business-dark 10%, #dde8f5 38%, #eaecf9 48%, #f5f5fd 62%),
    color2 : linear-gradient(100grad, rgba(0, 31, 204, 0), rgba(0, 20, 204, 0.05) 40%, rgba(0, 37, 204, 0.35)),
    color3 : linear-gradient(100grad, rgba(0, 31, 204, 0) 10%, rgba(0, 3, 204, 0.05)),
    picture: url('/assets/area-business.jpg')
  ),

  personal_branding: (
    color1 : linear-gradient($branding, $branding-dark 10%, #f5e7dd 38%, #f9f2ea 48%, #fdf9f5 62%),
    color2 : linear-gradient(100grad, rgba(204, 75, 0, 0), rgba(204, 116, 0, 0.05) 40%, rgba(204, 122, 0, 0.35)),
    color3 : linear-gradient(100grad, rgba(204, 109, 0, 0) 10%, rgba(204, 109, 0, 0.05)),
    picture: url('/assets/area-branding.jpg')
  ),

  web_design: (
    color1 : linear-gradient($design, $design-dark 10%, #f5ddf2 38%, #f8eaf9 48%, #fdf5fc 62%),
    color2 : linear-gradient(100grad, rgba(204, 0, 177, 0), rgba(204, 0, 187, 0.05) 40%, rgba(204, 0, 177, 0.35)),
    color3 : linear-gradient(100grad, rgba(204, 0, 204, 0) 10%, rgba(197, 0, 204, 0.05)),
    picture: url('/assets/area-design.jpg')
  )
);

